.button {
    @include reset-button;
    display: inline-flex;
    gap: 16px;
    align-items: center;

    cursor: pointer;
    box-sizing: border-box;

    &--variant {
       &-default {
            
            padding: 5px 40px 5px 5px;
            
        }

        &-login {
            padding: 5px 50px 4px 5px;
        }
    }

    &--size {
        &-M, &-m {
            @include font-inter-14-regular-uppercase;
            border-radius: 150px; 
        }
    }

    &--color {

        

        &-blue {
            color: var(--color-white, #ffffff);
            background: var(--color-blue, #009CFF);
            @include hover {
                box-shadow: 0 0 19px 0 rgba(19, 101, 211, 0.15);
                background: var(--color-blue-dark, #2685E4);
            }
        }

        &-green {
            color: var(--color-white, #ffffff);
            background: var(--color-green, #49C4CC);
            @include hover {
                background: var(--color-green-dark, #40B3BA);
            }
        }
    }




    &__icon {
        @include flex-center;
        
        flex: 0 0 auto;

    }

    &__text {
        margin-inline: auto;
    }
}