.footer {
    padding-top: 40px;

    @include flex-center;
    
    background-color: #fff;
    border-radius: 20px 20px 0 0;

    &__inner {
        width: 100%;
    }

    &__hr {
        width: 100%;
        border: 1px solid var(--color-gray5);
    }

    &__socials {
        @include flex-row(20);

        @include mobile {
            margin-inline: auto;
        }
    }

    &-top {
        @include flex-column(15);
        flex-wrap: wrap;
        margin-bottom: 40px;

        &__logo {
            @include flex-center;

            @include mobile {
                flex: 1 0 100%;
            }
        }

        &__generation {
            align-self: flex-start;
        }

        &__row {
            @include flex-row(30, space-between);
            flex-wrap: wrap;
            width: 100%;
            align-items: center;

            &--reverse {
                flex-wrap: wrap-reverse;
            }
        }
       
        &__menu {
            @include flex-row(50, center);
            align-items: center;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__buttons {
            @include flex-row(20, center);
            
            @include mobile {
                width: 100%;
            }

            &-button {
                @include mobile {
                    flex: 1;
                    width: 100%;
                }
            }
        }
    }

    &-bottom {
        @include flex-row(20, space-between);
        flex-wrap: wrap-reverse;
        align-items: center;

        @include mobile {
            justify-content: center;
        }

        padding: 42px 0;
        border-top: 1px solid var(--color-gray5);
    }

    &__info {
        color: var(--color-gray7, #515266);
        
        

        @include mobile {
            width: 100%;
            text-decoration: underline
        }

        &-list {
            @include flex-row(40, center);
            flex-wrap: wrap;
            cursor: pointer;

            @include mobile {
                gap: 15px;
            }
        }

        &-item {
            @include font-inter-14-regular;
            

            @include mobile {
                flex: 0 1 calc(50% - 15px);

                &:nth-child(2n) {
                    text-align: end;
                }
            }
        }
    }

    &__payments {
        display: flex;
        gap: 27px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 42px;
        
        border-radius: 50px;
        background-color: var(--color-gray1);
       
        color: var(--color-dark, #11133A);

        @include mobile {
            border-radius : 10px;
        }

        &-list {
            @include flex-row(10, center);
        }

        &-item {
            cursor: pointer;
        }
    }
}