.footer {

    padding-top: 40px;

   @include flex-center;
    margin: auto;
    
    background-color: #fff;
    border-radius: 20px 20px 0 0;

    

    &__hr {
        width: 100%;
        border: 1px solid var(--color-gray5);
    }

    &__socials {
        @include flex-row(20);
        width: 100%;
        
        
    }

    &__top {
        @include flex-column(15);
        margin-bottom: 40px;
       

        &-logo {
            @include flex-row;
            width: var(--container-width);
            

            &-text {
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 50px;
                
            }
        }

        &-buttons {
            @include flex-center;
            width: var(--container-width);
            
            
            &-button {
                
                @include flex-row(20, center);
                
            }
        }
    }

    &__bottom {
        @include flex-row;
        
        justify-content: space-between;
        align-items: center;
        padding: 42px 0;
        border-top: 1px solid var(--color-gray5);
    }

    &__info {
        color: var(--color-gray7, #515266);

        &-list {
            @include flex-row(40, center);
            cursor: pointer;
        }

        &-item {
            @include font-inter-14-regular;
            
        }

       



    }

    &__payments {
        

        display: inline-flex;
        gap: 27px;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 42px;
        
        border-radius: 50px;
        background-color: var(--color-gray1);
       
        color: var(--color-dark, #11133A);

        &-list {
            @include flex-row(10, center);
        }

        &-item {
            cursor: pointer;
        }
    }
}


// .footer {
    // padding-bottom: 50px;

    // &__hr {
    //     margin-block: 0px 41px;
    // }

    // &__list {
    //     @include flex-column(20);

    //     &-item {
    //         flex: 1;
    //     }

    //     &-link {
    //         width: 100%;
    //         @include flex-row(10, space-between);
    //         align-items: center;
    //         @include font-manrope-16-semibold;
    //         color: var(--Text-gray-Dark, #A5A5A5);
    //     }
    // }

    // &__socials {
    //     @include flex-row(20);
    //     width: 100%;
    //     justify-content: center;
    //     margin-top: 32px;
    // }

    // &__bottom {
    //     @include flex-row(32);
    //     align-items: center;
    //     flex-wrap: wrap-reverse;
    // }

    // &__buttons {
    //     @include flex-column(5);
    //     margin-top: 32px;
    //     margin-bottom: 32px;

    //     &-item {
    //         @include flex-row(5, center);
    //         align-items: center;
    //         flex: 1;
    //         width: 100%;

    //         border-radius: 10px;
    //         background: var(--Black3, #1D1D1D);
    //         color: var(--White, #FFF);
    //         @include font-manrope-24-bold;

    //         height: 80px;
    //         padding: 8px 20px;
    //     }
    // }

    // &__info {
    //     color: var(--Text-gray-Dark, #A5A5A5);
    //     text-align: center;
    //     @include font-manrope-12-medium;
    //     opacity: 0.5;

    //     max-width: 50%;
    // }

    // &__payments {
    //     padding: 15px 42px;
    //     @include flex-column(10);
    //     align-items: center;
    //     margin-inline: auto;

    //     flex: 1;

    //     border-radius: 10px;
    //     border: 1px solid #343434;

    //     &-list {
    //         @include flex-row(10, center);
    //     }
    // }
// }