.header {
    @include flex-center;
    margin: auto;
    background-color: #fff;

    height: 128px;

    border-radius: 0 0 20px 20px;
    

    @include mobile {
        height: 70px;
    }

    @include tablet {
        height: 90px;
    }

    &__mobile {
        @include flex-row(10, space-between);
        width: 100%;
        align-items: center;

        @include tablet-above {
            display: none;
        }
    }
    
    &__inner {
        @include flex-row(15, space-between);
        
        width: 100%;
    }

    &__left {
        @include flex-row(10, space-between);
        align-items: center;

        max-width: 902px;
        width: 100%;

        @include tablet {
            @include visually-hidden;
        }

        &-button {
            @include desktop {
                display: none !important;
            }
        }
    }

    &__right {
        @include flex-row(5, space-between);
        align-items: center;
        max-width: 462px;
        width: 100%;

        @include tablet {
            @include visually-hidden;
        }
    }

    &__menu {
        &-list {
            @include flex-column(30);
        }

        &-item {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }
        
        &-link {
            @include font-inter-14-regular-uppercase;
            color: var(--color-gray7, #515266);
        }
    }

    &__logo {
        @include flex-center;
    }


    &__buttons {

        @include flex-row(5);

        &-item {
            @include reset-button;
            @include flex-center;
            cursor: pointer;
            border-radius: 50px;
            background: var(--color-green);
            width: 40px;
            height: 40px;
        }
    }
}