.how-to-works {
    @include flex-row(30, space-between);
    
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    padding: 23px 18.5px 17px 18.5px;
    &__left {
        padding-top: 149px;
        padding-left: 46px;
        &-title {
            color: var(--color-dark);
            margin-bottom: 20px;
        }

        &-list {
            @include flex-column(20);
            list-style-type: none;
            counter-reset: list-counter;
            margin-bottom: 30px;
        }

        &-item {
            @include font-inter-16-semibold;
            counter-increment: list-counter;
            position: relative;
            padding-left: 50px;
            color: var(--color-gray7, #515266);

           

            &::before {
                content: counter(list-counter) " ";
                position: absolute;
                left: 0;
                top: -30%;
                height: 40px;
                width: 40px;
                border-radius: 50px;
                background-color:#49C4CC15 ;
                color: var(--color-green);
                text-align: center;
                line-height: 40px;
                

            }
        }
    }

    &__right {
        @include flex-column(30, space-between);

        width: 502px;
        height: 755px;
        background-color: var(--color-gray1);
        border-radius: var(--border-radius);
        position: relative;

        &-img {
            position: absolute;
            bottom: 0;
            border-radius: var(--border-radius);
        }

        &-top {
            @include flex-row(30, space-between);
            align-items: center;
            padding: 11px 8px 0 10px;

            &-list {
                @include flex-row(11);
            }
        }

        &-button {
            &-top {
                height: 54px !important;
                padding-inline: 24.5px !important;
            }
            &-bottom {
                z-index: 5;
                margin: 0 38.5px 31px 39.5px ;
                
            }
        }
    }
}

