.how-to-works {
    @include flex-row(30, space-between);
    
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    padding: 23px 18.5px 17px 18.5px;


    @include mobile {
        @include flex-column(30);
        padding-top: 30px;
        
    }

    &__left {
        align-self: center;
        margin-bottom: 107px;
        margin-left: 46px;

        @include mobile {
            margin: 0;
        }
        &-title {
            color: var(--color-dark);
            @include fluid-text(60, 28);
            margin-bottom: 20px;
        }

        &-list {
            @include flex-column(20);
            list-style-type: none;
            counter-reset: list-counter;
            margin-bottom: 30px;
        }

        &-item {
            @include font-inter-16-semibold;
            counter-increment: list-counter;
            position: relative;
            padding-left: 50px;
            color: var(--color-gray7, #515266);

           

            &::before {
                content: counter(list-counter) " ";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 40px;
                width: 40px;
                border-radius: 50px;
                background-color:#49C4CC15 ;
                color: var(--color-green);
                text-align: center;
                line-height: 40px;
                

            }
        }

        &-button {
            @include mobile {
                width: 100%;
            }
        }
    }

    &__right {
        @include flex-column(30, space-between);
        height: 755px;
        max-width: 502px;
        width: 100%;
        background-color: var(--color-gray1);
        border-radius: var(--border-radius);
        position: relative;
        align-self: center;

        @include tablet {
            height: 502px;
            max-width: 334px
        }

        @include mobile {
            gap: 11px;
        }

        &-img {
            height: auto;
            border-radius: var(--border-radius);
            position: absolute;
            bottom: 0;

            @include tablet {
                height: 445px;
            }
        }

        &-top {
            @include flex-row(30, space-between);
            align-items: center;
            padding: 11px 18px 11px 18px;

            &-list {
                @include flex-row(11);

            }

            &-icon {
                @include tablet {
                    height: 40px;
                    width: 40px;
                }
            }
        }

        &-bottom {
            @include flex-column(5, space-between);
        }

        &-button {
            &-top {
                height: 54px !important;
                padding-inline: 24.5px !important;
                

                @include tablet {    
                    height: 36px !important;
                    width: 85px !important;
                    padding-inline: 10px !important;

                    .button__content {
                        font-size: 10.65px !important;

                        & svg {
                            width: 16px !important;
                            height: 16px !important;
                        }
                    }
                }
            }
            &-bottom {
                position: relative;
                z-index: 3;
                margin-inline: 39px;
                margin-bottom: 31px;
                
            }
        }
    }
}

