.plans {
    @include flex-column(58); 
    max-width: 1142px;
    margin-inline: auto;
    margin-top: 80px;
    padding-bottom: 97px;


}

.plans-top {
    @include flex-column(71);

    &__title {
        color: var(--color-white);
        margin-inline: auto;
    }

    &__cards {
        @include flex-row(20, space-between);
        position: relative;
    }

}

.card {
    &--popular {
        border: 3px solid var(--color-white);
        background: linear-gradient(135deg, #9FCCFA, #49C4CC);
        gap: 11px !important;
        padding-inline: 30px !important;

        .card-top{
            &__bottom {
                
                &-icon {
                    @include square(100px);
                    background-color: var(--color-white);
                }

                &-text {
                    color: var(--color-white);
                    gap: 10px;
                    &-title {
                        font-size: 20px;
                        color: var(--color-white);
                        font-weight: 600;
                    }

                    &-price {
                        margin-right: 33px;
                        &-new {
                            font-size: 36px;
                            font-weight: 600;
                        }

                        &-old {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .card-bottom {
            border-top: 1px solid var(--color-white);
            gap: 30px;
            &__top {
                padding-top: 25px;

                &-item {
                    background-color: #FFFFFF26;

                    &--active {
                        background-color: transparent;
                    }
                    
                    &-icon {
                        background-color: #FFFFFF1A;

                        &--active {
                            background-color: #FFFFFF0D;
                        }
                    }

                    &-text {
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}

.card {
    @include flex-column(20);
            flex: 0 0 auto;
            border-radius: 30px;
            background-color: var(--color-white);
            padding: 30px 40px;
            
    


   
    &-top {
        @include flex-column(10);

        &__top {
            @include flex-row(10, space-between);
            &-sale {
                max-height: 30px;
                padding: 3px 12px;
                background-color: #F15322;
                border-radius: var(--border-radius);
                color: var(--color-white);
                
            }

            &-coins {
                @include flex-row(4);
                align-items: center;
                background-color: var(--color-white);
                border-radius: var(--border-radius);
                border: 1px solid #42424226;
                padding: 4px 10px;
            }
        }

        &__bottom {
            @include flex-row(20);

            &-icon {
                @include flex-center;
                @include square(80px);
                background-color: var(--color-gray2);
                border-radius: var(--border-radius);
            }

            &-text {
                @include flex-column(8);
                color: var(--color-dark);
                font-weight: 600;
                line-height: 100%;
                

                
                &-title {
                    color: var(--color-dark);
                    font-size: 18px;
                    line-height: 120%;
                }

                &-price {
                    @include flex-row(10, space-between);

                    &-left {
                        @include flex-column(4);
                    }

                    &-old {
                        opacity: 0.5;
                        line-height: 150%;
                        font-size: 14px
                    }

                    &-new {
                        @include font-inter-32-bold;
                        font-size: 28px;
                        line-height: 100%;
                    }

                    &-name {
                        @include flex-row(10);
                    }
                }
                
            }
        }
    }

    &-bottom {
        @include flex-column(20);
        border-top: 1px solid var(--color-gray5);

        &__top {
            padding-top: 20px;

            &-item {
                @include flex-row(13);
                align-items: center;
                background-color: var(--color-gray1);
                border-radius: 10px;

                &--active {
                    background-color: #FFFFFF00;
                }

                &-icon {
                    @include flex-center;
                    @include square(56px);
                    border-radius: 10px;
                    background-color: #F2F0ED;

                    &--active {
                        background-color: #FCFCFC;
                    }
                }

                &-text {
                    color: var(--color-gray7);
                    font-weight: 500;
                }
            }
        }

        &__bottom {
            &-button {

                width: 100%;
            }
        }
    }
}

.plans-bottom {
    @include flex-row(10, space-between);
    border-radius: var(--border-radius);
    
    border: 1px solid var(--color-white);
    padding: 35.5px 27px;

    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    &__item {
        padding-inline: 35px;
        width: 100%;

        &-icon {
            @include flex-center;
            width: 60px;
            height: 60px;
            border-radius: 16px;
            background-color: var(--color-white); 
            margin-bottom: 10px;
        }

        &-title {
            color: var(--color-white);
            font-size: 24px;
        }

        &-description {
            color: var(--color-white);
        }
    }
}

.dashed-line {
  width: 3px; 
  height: auto; 
  margin: 0 auto;

  background: repeating-linear-gradient(
    to bottom,
    white,
    white 5px,
    transparent 5px,
    transparent 10px
  );
  
}

.absolute-center {
    @include abs-center;
}