.asked-questions {
    margin-block: 50px;

    @include tablet { 
        margin-block: 55px;
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;

        @include mobile {
            text-align: start;

        }

        &-h1 {
            @include font-inter-44-bold;

            @include mobile {
                font-size: 28px;
            }
        }
    }
    &__content {
        @include flex-column(5);
    }
    
}

.item {
    @include flex-column(10);
    position: relative;
    
    background: var(--color-white, #ffffff);
    border-radius: var(--border-radius);
    padding: 42px 50px;


    @include mobile {
        padding-block: 48;
    }

    &__answer {
        color: var(--color-gray7, #515266);
        display: none;

        @include mobile {
            font-size: 14px;
        }
    }




    &__text {
        @include font-inter-24-semibold;

        margin-block: auto;

        @include mobile {
            font-size: 16px;
        }

    }

    &__checkbox {
        display: none;

    }


    &__checkbox:checked + &__label {
        background-color: var(--color-gray1);
        &::before {
           transform: rotate(-45deg);
           background-color: var(--color-green);
           transition-duration: 0.5s;
        }

        &::after {
            transform: rotate(-135deg);
            background-color: var(--color-green);
            transition-duration: 0.5s;
        }
        
        transition-duration: 0.5s;
    }


    &__label {
        position: absolute;
        @include square(50px);
        height: 50px;
        right: 50px;
        top: 35px;

        border-radius: 50px;
        cursor: pointer;
        background-color: var(--color-green);       
        
        transition-duration: 1s;
        &::before,
        &::after {
            @include abs-center;

            content: "";
            width: 10px;
            height: 2px;
            background-color: var(--color-white);
            border-radius: 2px;

            transition-duration: 0.5s;
        
        }

        &::before {
            transform: rotate(90deg);
            transition-duration: 0.5s;
        }

        @include mobile {
            right: 20px;
        }
    }


    &__button {
        @include reset-button;

        @include square(50px);
        height: 50px;

        border-radius: 50px;
        cursor: pointer;
        background-color: var(--color-green);       
        
        position: relative;
        &::before,
        &::after {
            @include abs-center;

            content: "";
            width: 10px;
            height: 2px;
            background-color: var(--color-white);
            border-radius: 2px;
        
        }

        &::before {
            transform: rotate(90deg);
        }

        &--active {
            background-color: var(--color-gray1);
            &::before {
                transform: rotate(45deg);
                background-color: var(--color-green);
            }

            &::after {
                transform: rotate(-45deg);
                background-color: var(--color-green);
            }
        }
    }
    
}

#question-1:checked ~ #answer-1,
#question-2:checked ~ #answer-2 {
    display: block;
}