body {
  @include font-manrope-16-regular;
  color: var(--White);
  background: url("../../public/Images/BackgroundMain.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--Black2, #0F0F0F);

  white-space: pre-line;
  position: relative;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  color: var(--White);
  @include font-manrope-60-bold;
}

h2, .h2 {
  color: var(--White);
  @include font-manrope-40-bold;
}

h3, .h3 {
  color: var(--White);
  @include font-manrope-32-bold;
}

h4, .h4 {
  @include fluid-text(20, 18);
}

hr {
  width: 100%;
  border-radius: var(--Corner-radius, 10px);

  border: 1px solid var(--White, #FFF);
  height: 2px;
  opacity: 0.1;
  align-self: stretch;
  margin-block: 20px;
  margin-inline: 0 !important;
  padding: 0;
}