body {
  @include font-inter-16-regular;
  color: var(--color-gray10, #11133A);

  
  background-color: var(--color-gray1, #F8F8F8);

  white-space: pre-line;
  position: relative; 
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  color: var(--color-gray10, #11133A);
  @include font-inter-60-bold;
}

h2, .h2 {
  color: var(--color-gray10, #11133A);
  @include font-inter-40-semibold;
}

h3, .h3 {
  color: var(--color-gray10, #11133A);
  @include font-inter-32-bold;
}

h4, .h4 {
  color: var(--color-gray10, #11133A);
  @include fluid-text(20, 18);
}

h5, .h5 {
  color: var(--color-gray10, #11133A);
  @include fluid-text(16, 14);
}

hr {
  width: 100%;
  border-radius: var(--Corner-radius, 10px);

  border: 1px solid var(--White, #FFF);
  height: 2px;
  opacity: 0.1;
  align-self: stretch;
  margin-block: 20px;
  margin-inline: 0 !important;
  padding: 0;
}