:root {
    --container-width: 1420px;
    --container-large-width: 1920px; 
    --container-login-width: 420px;

    --container-padding-x: 20px;
    --container-login-padding-x: 20px;
    --container-large-padding-x: 20px;
    --transition-duration: 0.2s;

    --border-radius: 20px;

    --Corner-radius: 10px;

    --color-dark: #11133A;
    --color-blue-light: #AFE1F4;
    --color-green: #49C4CC;
    --color-green-dark: #40B3BA;
    --color-blue: #009CFF;
    --color-blue-5: #E7F4F8;
    --color-blue-dark: #2685E4;
    --color-red: #F15322;
    --color-red-5: #FFFAF2;
    --color-yellow: #FFC33F;
    --color-brown-dark: #502C00;
    --color-white: #ffffff;
    --color-gray1: #F8F8F8;
    --color-gray2: #F6F4F2;
    --color-gray3: #EAEAEB  ;
    --color-gray4: #E8E8E8;
    --color-gray5: #D3D7DE;
    --color-gray6: #B6B8BD;
    --color-gray7: #515266;
    --color-gray8: #424242;
    --color-gray9: #3B3A3A;
    --color-gray10: #28241F;
    
    --height-header-desktop: 128px;
    --height-header-tablet: 90px;
    --height-header-mobile: 70px;
}