.button {
    @include reset-button;
    display: inline-flex;
    gap: 16px;
    align-items: center;

    height: 60px;

    flex: 1;

    cursor: pointer;
    box-sizing: border-box;
    border-radius: 150px;

    background-color: #009CFF;

    &__icon {
        padding-left: 5px;
    }

    &__text {
        @include font-inter-14-regular;
        color: #ffffff;
        padding-right: 40px;
    }
}