

.reset-margin {
    @include mobile {
        margin-inline: -20px;
    }
}

.background-animation {
    position: absolute;
    top: 41%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--color-dark);
    border-radius: 30px;
    
    width: 1778px;
    height: 1371px;
    z-index: -10;
    
}
