.achievements {
    
    margin-block: 50px;

    &-list {
        @include flex-row(5);

        @include tablet {
            flex-direction: column;
        }
    }
    &-item {
        background: var(--color-white, #ffffff);
        border-radius: var(--border-radius);
        width: 100%;

        padding: 30px 33px;
        &__content {
            @include flex-row(30);
            align-items: center;
            margin: 0 auto;
            
            
        }

        &__text {

            &-title {
                color: var(--color-brown-dark, #502C00);
                @include fluid-text(32, 24);

                @include tablet {
                    font-weight: 700;
                }
            }   

            &-description {
                color: var(--color-brown-dark, #502C00);
                @include font-inter-20-regular;
                @include fluid-text(20, 14);

                @include tablet {
                    font-weight: 500;
                }
            }
        }

        &__icon {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: #E7F4F8;
            flex: 0 0 auto;

            position: relative;

            @include tablet {
                height: 80px;
                width: 80px;
            }

            &--hearts-eyes {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: rotate(10deg);

                @include tablet {
                    height: 40px;
                    width: 40px;
                }
            }

            &--how-delicious {
                position: absolute;
                top: 20px;
                left: 20px;
                transform: rotate(-5deg);

                @include tablet {
                    height: 24px;
                    width: 24px;
                    top: 15px;
                    left: 15px;
                }
            }

            &--star-eyes{
                position: absolute;
                bottom: 8px;
                left: 5px;
                transform: rotate(-9deg);

                @include tablet {
                    height: 49px;
                    width: 52px;
                }
            }

            &--stars {
                position: absolute;
                top: 0;
                right: 0;

                @include tablet {
                    height: 40px;
                    width: 42px;
                }
            }

            &--wand {
                @include abs-center;

                @include tablet {
                    height: 59px;
                    width: 59px;
                }
            }
        }
        
    }
}