.achievements {
    
    margin-block: 50px;

    &-list {
        @include flex-row(5);

        @include tablet {
            flex-direction: column;
        }
    }
    &-item {
        background: var(--color-white, #ffffff);
        border-radius: var(--border-radius);
        width: 100%;

        padding: 30px 33px;
        &__content {
            @include flex-row(30);
            align-items: center;
            margin: 0 auto;
            
            
        }

        &__text {

            &-title {
                color: var(--color-brown-dark, #502C00);
                @include fluid-text(32, 24);

                @include tablet {
                    font-weight: 700;
                }
            }   

            &-description {
                color: var(--color-brown-dark, #502C00);
                @include font-inter-20-regular;
                @include fluid-text(20, 14);

                @include tablet {
                    font-weight: 500;
                }
            }
        }

        &__icon {
            @include square(100px);
            border-radius: 50%;
            background-color: #E7F4F8;
            // flex: 0 0 auto;
            // @include tablet {
            //     height: 80px;
            //     width: 80px;
            // }
        }
        
    }
}