.navbar {
    &-list {
        @include flex-row(30);
        // display: flex;
        // align-items: center;
        // column-gap: 30px;

        @include mobile {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }
       

        &__item {
            display: inline-flex;
            align-items: center;
            color: #6F644D;

            white-space: nowrap;
            

            cursor: pointer;
        }

        &__link {
            @include font-inter-14-regular-uppercase;
        }
    }

    
}