 .navbar {
 

    &-list {
        display: flex;
        align-items: center;
        column-gap: 30px;
       

        &__item {
            display: inline-flex;
            align-items: center;
            color: #6F644D;
            
            // padding: 12px 20px;

            cursor: pointer;
            
            
        }

        &__link {
            font-family: 'Inter', sans-serif;
            @include font-inter-14-regular;
        }
 }

 &__layout {
        position: absolute;
        // inset: 0;
        // width: 100%;
        // height: 100%;
        // background: rgba(0, 0, 0, 0.40);
        // backdrop-filter: blur(20px);

        // transition: backdrop-filter 10s;

        // z-index: 100;
    }
}

ul {
    margin-block: 0;
    padding: 0;
}