.generate {
    padding-block: 5px;
    @include flex-row(5);

    &__left {
        @include flex-column(5);
        max-width: 945px;
    }

    &__right {
        @include flex-column(5);
        max-width: 470px;
        width: 100%;
        
    }

    &__coins {
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: 30px;
        @include flex-column(15);

        &-title {
            @include fluid-text(32, 28);
            color: var(--color-dark);
            line-height: 1.5;
            margin-bottom: 5px;

            text-align: center;

            @include mobile {
                text-align: left;
            }
        }

        &-content {
            @include flex-row(20);
            align-items: center;
        }

        &-line {
            width: 1px;
            height: 60px;
            background-color: var(--color-gray1);
        }

        &-item {
            @include flex-column(5);
            width: 100%;

            &--right {
                background-color: var(--color-gray1);
                @include flex-row(0);
                padding: 12.5px 27px;
                border-radius: 10px;
            }

            &-inner {
                @include flex-row(2);
                background-color: var(--color-gray1);
                align-items: center;
                padding-inline:11px;
                height: 36px;
                border-radius: 50px;
                font-size: 24px;
                font-weight: 600;
                color: var(--color-dark);
            }

            &-text {
                font-size: 12px;
                color: var(--color-gray7);
            }

            &-circle {
                width: 52px;
                height: 52px;
                border-radius: 50%;
                background-color: var(--color-white);
                @include flex-row(0, center);
                align-items: center;
                flex: 0 0 auto;
                font-size: 20px;
                font-weight: 700;
                color: var(--color-gray7);
            }
            
        }

        &-your-coins {
            @include flex-row(10);
            align-items: center;

            &-text {
                font-size: 14px;
                color: var(--color-dark);
                text-wrap: nowrap;
            }
        }

        &-free-coins {
            @include flex-row(10);
            align-items: center;

            &-text {
                font-size: 14px;
                color: var(--color-dark);
                text-wrap: nowrap;
            }
        }

        &-banner {
            padding: 20px;
            background-color: var(--color-dark);
            border-radius: 10px;
            height: 100px;

            &-text {
                font-size: 20px;
                font-weight: 700;
                color: var(--color-white);
                width: 170px;
                text-transform: uppercase;
                line-height: 1.5;
            }
        }
    }

    &__banner {
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: 30px;
        @include flex-column(10);

        &-achieve{
            @include flex-row(10, space-between);
            align-items: center;
            max-width: 311px;
            height: 51.2px;
            border-radius: 7.64px;
            border: 0.5px solid var(--color-gray1);
            background-color: rgb(248, 248, 248, 0.2);
            backdrop-filter: blur(50px);
            padding: 6px;

            &-button {
                width: 39px;
                height: 39px;
                background-color: var(--color-white);
                border-radius: 3.82px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            &-text {
                @include flex-column(2);
                font-size: 10px;
                font-weight: 600;
                color: var(--color-white);
                line-height: 1.5;
            }

            &-coins {
                @include flex-row(1, center);
                align-items: center;
                font-weight: 600;
                height: 15px;
                color: var(--color-brown-dark);
                background-color: var(--color-white);
                border-radius: 23px;
                max-width: 26px;

            }

        }

        &-content {
            @include flex-column(10);
            border-radius: 15px;
            padding: 35px 30px;
            background: linear-gradient(135deg, #9FCCFA, #49C4CC);

            &-message {
                color: var(--color-white);
                background-color: var(--color-yellow);
                border-radius: 50px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 34px;
                width: 168px;
                position: relative;
                transform: rotate(3deg);
                left: -5 px;
                top: 8px;

                &::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 10px 12px 10px 0;
                    border-color: transparent #FFC33F transparent transparent;
                    transform: rotate(0deg);
                    position: absolute;
                    bottom: -8px;
                    border-radius: 0px;
                    left: 25px;
                    transform: rotate(48deg);
                }
            }

            &-title {
                @include fluid-text(24, 20);
                text-transform: uppercase;
                color: var(--color-white);
                line-height: 1.5;
                max-width: 224px;
            }

            &-button {
                padding: 0;

                .button__content div:first-child {
                    background-color: transparent;
                }

                @include hover {
                    background-color: var(--color-gray1);
                    .button__content div:first-child {
                        background-color: transparent;
                    }
                }
            }
        }
        
    }

    &__download {
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: 30px;
        @include flex-column(10);
        text-align: center;
        color: var(--color-gray7);

        &-buttons {
            @include flex-row(7);
        }

        &-button {
            @include fluid-text(16, 14);
            @include flex-row(5, center);
            font-weight: 600;
            color: var(--color-dark);
            align-items: center;
            padding: 7px 12px;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 1px solid var(--color-gray1);

            &:hover {
                background-color: var(--color-gray1);
            }
        }
    }

    &__upload {
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        height: 817px;
        padding: 10px;

        &-text {
            @include flex-column(5);
            
        }

        &-title {
            @include fluid-text(20, 18);
            color: var(--color-dark);
        }

        &-select {
            @include flex-row(0);
            max-width: 308px;
            height: 50px;
            padding: 5px;
            border-radius: 10px;
            background-color: rgb(64, 179, 186, 0.3);

            &-item {
                width: 100%;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: rgb( 255, 255, 255, 0.5);
                }

                &--active {
                    background-color: var(--color-white);
                    &:hover {
                        background-color: rgb( 255, 255, 255 );
                    }
                }
            }
        }

        &-button {
            width: 100%;
            max-width: 308px;

            &-link {
                color: var(--color-green);
                text-transform: uppercase;
                font-weight: 600;
                border-bottom: 1px dashed var(--color-green);
            }
        }

        &-content {
            @include flex-column(21);
            align-items: center;
            justify-content: center;
            height: 100%;
            
            
        
        }

         &-link {
                padding: 31px 34px;
                position: relative;

                align-items: center;
                justify-content: center;
                @include flex-column(10);
                font-weight: 600;
                color: var(--color-green);



                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: repeating-linear-gradient(to right, var(--color-blue), var(--color-blue) 10px, transparent 10px, transparent 20px);
                    left: 0;
                    top: 0;
                }
            }

        &-inner {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: var(--color-blue-5);
            background-image : url(../../../components/UI/svg/DashedBackgroundSvgGenerate.svg);
            @include flex-column(0);


        }

    }

    &__referal {
        background-image: url(../../../../public/ReferalImage.png);
        border-radius: var(--border-radius);
        max-width: 945px;
       height: 250px;
        padding: 30px;
        
    }

    &__instructions {
       background-color: var(--color-white);
       padding: 40px;
       @include flex-column(20);
       max-width: 945px;
       border-radius: var(--border-radius);

       @include mobile {
        padding: 30px;
       }

       &-title {
            @include fluid-text(32, 20);
            color: var(--color-dark);
            margin-bottom: 20px;

            @include mobile {
                text-align: center;
                margin-bottom: 10px;
            }
        }   
    }
}