.work {
    @include flex-row(20, space-between);
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: var(--border-radius);
    background:  linear-gradient(to right, #9FCCFA, #49C4CC);
    
    padding: 17px 34px 18px 71px;

        &__right {
            
            width: 493px;
            height: 337px;
            position: relative;

            &-image {
                border-radius: 23px;
                position: absolute;

                &--abs {
                    border: 2px solid var(--color-white);
                    z-index: 6;

                    transform: rotate(-15deg);

                    left: 25px;
                    bottom: 25px;
                }

                &--cloud {
                    @include square(198px);
                    background-color: #ffffff0F;
                    backdrop-filter: blur(10px);
                    z-index: 5;

                    transform: rotate(16deg);

                    right: 30px;
                    top: 30px;
                    
                }
            }
        }

        &__info {
            @include flex-column(35);
             color: var(--color-white, #ffffff);

             max-width: 620px;
            @include mobile {
                padding: 0 30px;
            }

            &-button {
                padding-inline: 11px 75px !important;
                height: 74px !important;
                max-width: 200px;
                
                @include mobile {
                    .button__content div:first-child {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            &-text {
                @include fluid-text(16, 14);
                
            }

            &-title {
                white-space: nowrap;
                @include font-inter-44-bold;
                @include fluid-text(44, 28);
                
                color: var(--color-white, #ffffff);

            }

            &-image {
                border-radius: var(--border-radius);
                background: linear-gradient(to right, #9FCCFA, #49C4CC);
                object-fit: cover;
                width: 100%;

                @include tablet {
                    height: 623px;
                    background: linear-gradient(to top, #9FCCFA, #49C4CC);
                }

                @include mobile {
                    height: 623px;
                }

                
            }
        }
        
        &__absolute {
            @include abs-center;
            
            align-items: center;

            @include flex-row(0, space-between);
            padding-inline: 91px 54px;
            
            width: 100%;

            &-image {
                height: auto;
                object-fit: cover;

                @include desktop {
                    width: 400px;
                }

                @include tablet {
                    width: auto;
                }
                
            }

            @include tablet {
                @include flex-column(5);
                padding-inline: 0;
            }

            @include mobile {
                @include flex-column(5);
                padding-inline: 0;
            }
        }

        &-left {
            
            
        }
        
    }