.work {
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;

        @include mobile {
          
        }

        &__info {
            @include mobile {
                margin: 40px 0;
                padding: 0 30px;
            }

            &-text {
                color: var(--color-white, #ffffff);
                
                @include mobile {
                    @include font-inter-14-regular;
                    margin-bottom: 30px;
                }
            }

            &-title {
                white-space: nowrap;
                @include font-inter-44-bold;
                color: var(--color-white, #ffffff);

                @include mobile {
                    @include font-inter-32-bold;
                }
            }

            &-image {
                border-radius: var(--border-radius);
                background: linear-gradient(to right, #9FCCFA, #49C4CC);
                object-fit: cover;
                width: 100%;

                @include mobile {
                    height: 623px;
                }
                
            }
        }
        
        &__absolute {
            @include abs-center;
            
            align-items: center;

            @include flex-row(0, space-between);
            padding-inline: 91px 54px;
            
            width: 100%;

            &-image {
                object-fit: cover;
                
            }

            @include mobile {
                @include flex-column(5);
                padding-inline: 0;
            }
        }

        &-left {
            @include flex-column(40);
            
            
        }
        
    }