.login {
    padding-block: 5px;
    margin-top: 128px;

    @include tablet {
        margin-top: 90px;
    }

    @include mobile {
        margin-top: 70px;
    }
}

.reset-margin {
    @include mobile {
        margin-inline: -20px;
    }
}