.banner {
    &__inner {
        @include flex-row(4, space-between);
        padding-top: 5px;

        @include mobile {
            @include flex-column(5);
            flex-direction: column-reverse;
            padding-top: 0;
        }
    }

    &__item {
        background-color: var(--color-white, #ffffff);
        border-radius: var(--border-radius);
        max-width: 707px;
        width: 100%;
        display: flex;
        position: relative;
        
       
        &-center {
            @include flex-column(40);
            margin: 0 auto;
            padding-bottom: 40px;
            padding-left: 26px;
            padding-right: 10px;
            align-self: center;
            position: relative;
            z-index: 2;
            

            @include tablet {
                padding: 20px 30px;
                gap: 15px;
            }

            @include tablet-above {
                max-width: 598px;
                max-height: 381px;
            }


            @include mobile {
                max-height: auto;
                padding: 80px 30px;
                gap: 50px;
            }
            
        }

        &-right {
            @include mobile {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }
        }

        &-bg {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            

            &-inner {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;


            }

            &--vector {
                position: absolute;
                height: auto;
                bottom: 0;
                
                @include mobile {
                    height: 661px;
                    width: 805px;
                    bottom: -100px;
                    right: -80px;
                    object-fit: cover;
                }
                
            }

            &--text {
                position: absolute;
                color: #6F644D;
                
                @include fluid-text(14, 12);

                transform: rotate(11.5deg);

                bottom: calc(90% - 30px);
                right: 20px;
                @include tablet {
                    bottom: calc(90% - 20px);
                    right: 20px;
                }

                @include mobile {
                    display: none
                }

            }

            &--banana {
                @include square(76px);
                background-color: #FFFAF2;
                border-radius: 12px;
                border: 1px dashed #FFC33F;
                position: absolute; 

                transform: rotate(-10deg);

                top: 5%;
                left: 60px;

                @include tablet {
                    @include square(74px);
                    top: -15px;
                    left: 30px;
                }

            }

            &--eggplant {
                @include square(77px);
                background-color: #E7F4F8;
                border-radius: 12px;
                border: 2px dashed #40B3BA;
                position: absolute; 

                transform: rotate(-15deg);

                bottom: -15px;
                right: 215px;

                @include tablet {
                    display: none
                }
            }

            &--chili {
                @include square(107px);
                background-color: #FFF2F2;
                border-radius: 20px;
                border: 1.7px dashed #F15322;
                position: absolute; 

                transform: rotate(15deg);

                bottom: 50px;
                right: 60px;

                @include tablet {
                    @include square(85px);
                    bottom: -20px;
                    right: -10px;
                }
            }
        }

        &-image {
            height: auto;
            border-radius: var(--border-radius);
            

            @include mobile {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }

            

            &-left {
                @include mobile {
                    height: 521px;
                    object-fit: cover;
                }
            }
        }
    }

    &__text {
        
        
        @include mobile {
            @include font-inter-14-regular;
        }

        &-tag {
            
            @include flex-center(inline-flex);
            gap: 10px;
            background-color: var(--color-gray1);
            border-radius: 150px;
            padding: 8px 20px;
            margin-bottom: 15px;

            box-sizing: border-box;


            &-p {
                @include font-inter-14-regular;
            }
        }

        &-title {
           @include fluid-text(16, 14);

            &-h1 {
                @include fluid-text(60, 28);
            }
            
        }
    }

    &__buttons {
        @include flex-column(10);
        max-width: 488px;
        width: 100%;

        @include tablet {
            gap: 5px;
        }

        @include mobile {
            gap: 10px;
        }

        &-top {
            &-button {
                width: 100%;
            }
        }

        &-bottom {
            @include flex-row(10);
            
            @include tablet {
                @include flex-column(5);
            }

            @include mobile {
                gap: 10px;
            }

            &-button {
                width: 100%;
            }
        }
    }
}

