.slider {
  @include flex-column(30);
  margin-block: 50px;
  background: var(--color-white, #ffffff);
  border-radius: var(--border-radius);
  padding-block:  80px;

  &__image {
    border-radius: 12.9px;
  }

  &__item {
    width: auto;

    &-title {
      position: absolute;
      bottom: 32px;
      left: 32px;
      color: var(--color-white, #ffffff);
      font-size: 25.8px;
      text-transform: uppercase;
    }
  }

}

.slider-top {
  @include flex-row(80, space-between);
  padding-inline: 80px 0;

  &__left {
    @include flex-column(30);
  }

  &__text {
    @include flex-column(10);

    &-title {
      @include font-inter-44-bold;
      color: var(--color-dark, #11133A);
    }

    &-description {
      font-size: 14px;
      color: var(--color-gray7, #515266);
    }
  }

  &__button-load {
        width: 100%;
    }
}

.slider-bottom {
  @include flex-column(30);
  padding-inline: 80px ;

  &__button-view {
    width: 100%;
  }
}

.mySwiper {
  width: 952px;
  border-radius: 12.9px 0 0 12.9px;
}

.custom-scrollbar {
  height: 10px; 
  background-color: #E7F4F8; /* Цвет фона скроллбара */
  width: 100%;
  border-radius: 50px;
}

.custom-scrollbar .swiper-scrollbar-drag {
  background-color: var(--color-green); /* Цвет ползунка */
}

.swiper-button-disabled {
  display: none;
}

.custom-prev-button,
.custom-next-button {
  transform: translateY(-50%);
  background-color: var(--color-green);
  border-radius: 50px;
  width: 68px;
  height: 68px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: auto;
  height: auto;
}

.custom-prev-button {
  left: 20px;
  
}

.custom-next-button {
  right: 106px;
}

.prev-button-svg {
  transform: rotate(180deg);
}

.swiper-slide-active {
  opacity: 0.8;
}